.navigation ul {
  list-style: none;
  display: flex;
}
@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./Fonts/menlo-cufonfonts/Menlo-Regular.ttf") format("truetype");
}
.container {
  font-family: "MENLO FONT";
  font-size: large;
}
