.navigation ul {
  list-style: none;
  display: flex;
}
@font-face {
  font-family: "Menlo Font"; /*Can be any text*/
  src: local("AirbnbCerealMenloFont"),
    url("./Fonts/menlo-cufonfonts/Menlo-Regular.ttf") format("truetype");
}
.container {
  font-family: "Menlo Font";
  font-size: 20px;
}
.ftr {
  background-color: #f5b4b1;
}
.navStyle:hover {
  /* border-bottom: #e63732 1px solid; */
  text-decoration: underline;
  text-decoration-color: #e63732;
}
